{% include('inc/header1.html') %}
{% include('inc/header2.html') %}
{% include('inc/menu.html') %}
{% include('inc/bc_menu.html') %}

<form method="POST" action="/adminka/passport/users">
    <input id="guid" name="guid" value="" type="hidden">
    <label>Знайти користувача:
    <input class="autocomplete_input" type="text" id="find" name="find" autofocus size="60"></label>
    <input type="submit" value="Пошук" class="btn btn-primary"><br>
    <input id="checkbox" type="checkbox" checked> <label for="checkbox">Автопошук</label>
</form>

{% include('inc/footer1.html') %}
<script type="text/javascript" src="/lib/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/user_find.js"></script>
{% include('inc/footer2.html') %}