
.tooltip-inner {
    color: #fff;
    background-color: #294;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #294;
}

.border1 {
    border: 1px solid red;
}