
.tooltip-inner {
    color: #ffffff;
    background-color: #007BFF;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #007BFF;
}

.border1 {
    border: 1px solid red;
}

input[type='checkbox'] {
    margin-right: 7px;
}
