<div class="cssload-cssload-wrap2">
	<div class="cssload-wrap">
		<div class="cssload-overlay"></div>

		<div class="cssload-cogWheel cssload-one">
		<div class="cssload-cog cssload-one"></div>
		<div class="cssload-cog cssload-two"></div>
		<div class="cssload-cog cssload-three"></div>
		<div class="cssload-cog cssload-four"></div>
		<div class="cssload-cog cssload-five"></div>
		<div class="cssload-center"></div>
		</div>

		<div class="cssload-cogWheel cssload-two">
		<div class="cssload-cog cssload-one"></div>
		<div class="cssload-cog cssload-two"></div>
		<div class="cssload-cog cssload-three"></div>
		<div class="cssload-cog cssload-four"></div>
		<div class="cssload-cog cssload-five"></div>
		<div class="cssload-center"></div>
		</div>
	</div>
</div>