<div class="cssload-loader">
	<div class="cssload-square cssload-square--main">
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
			<div class="cssload-square cssload-square--mini"></div>
	</div>
</div>