<!--<link rel="stylesheet" href="/lib/bootstrap/4.1.3/css/bootstrap.min.css">-->

{% if x.steps|length > 0 %}
<table class="table table-sm table-bordered">
{% for step in x.steps %}
    <tr>
        <td>{{ step.STEP }}</td>
        <td>{{ step.NAME }}</td>
        {% if step.IS_ERR == 1 %}
            <td>ERROR</td>
            <td>---</td>
        {% else %}
            <td>{{ step.TM }}</td>
            <td>{{ step.TM_TOTAL }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% else %}
Підготовка ...
{% endif %}
