{% extends 'main.html' %}

{% block content %}
<div class="container">

<div class="p-3 mb-3 border border-primary">
    <div><b>{{x.post.tin}}</b> {{x.name}}</div>
    <div>{{x.post.dt1}} - {{x.post.dt2}}</div>
</div>

<h3>Виберіть необхідні для Вас дані:</h3>

<form method="POST" action="/passport/prepare">
    <input type="hidden" name="tin" value="{{x.post.tin}}">
    <input type="hidden" name="dt1" value="{{x.post.dt1}}">
    <input type="hidden" name="dt2" value="{{x.post.dt2}}">
{% for item in x.info %}
{% if item.DEF == 1 %}{% set checked = "checked" %}{% else %}{% set checked = "" %}{% endif %}
    <input type="checkbox" id="id{{item.ID}}" name="id{{item.ID}}" {{checked}}><label for="id{{item.ID}}">{{item.NAME}}</label>
{% if item.DT0 is not null %}
    <span class="ml-2 text-success">{{item.DT0}}</span>
    <input type="hidden" name="ir{{item.ID}}" value="{{item.DT0}}">
    <input type="checkbox" id="rf{{item.ID}}" name="rf{{item.ID}}" class="ml-2"><label for="rf{{item.ID}}">Оновити</label>
{% endif %}
    <br>
{% endfor %}
    <button type="submit" class="btn btn-primary"><i class="fas fa-angle-double-right mr-2"></i>Підготувати</button>
</form>

</div>

{% endblock %}