{% include('inc/header1.html') %}
<link rel="stylesheet" href="/css/loading/{{x.loading_index}}.css">
{% include('inc/header2.html') %}
{% include('inc/menu.html') %}
{% include('inc/bc_menu.html') %}

<div id="guid" class="d-none">{{ x.GUID }}</div>
<div class="container-fluid font-weight-bold">
{% for work in x.works %}
    <div class="row text-white">
        <div class="col-lg-4 bg-primary pb-1">{{ work.NAME }} <span id="id{{ work.ID }}">{{ work.TM }}</span></div>
    </div>
{% endfor %}
</div>

<div id="loading" class="container">
{% include('inc/loading/' ~ x.loading_index ~ '.html') %}
</div>

{% include('inc/footer1.html') %}
<script type="text/javascript" src="/js/passport.js"></script>
{% include('inc/footer2.html') %}