.cssload-cssload-wrap2 {
	width: 263px;
	height: 263px;
	overflow: hidden;
}
.cssload-wrap {
	position: absolute;
	width: 175px;
	height: 175px;
	left: 50%;
	top: 50%;
	margin-top: -88px;
	margin-left: -88px;
	transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
}
.cssload-wrap .cssload-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	box-shadow: 0 0 44px 67px rgb(255,255,255) inset;
		-o-box-shadow: 0 0 44px 67px rgb(255,255,255) inset;
		-ms-box-shadow: 0 0 44px 67px rgb(255,255,255) inset;
		-webkit-box-shadow: 0 0 44px 67px rgb(255,255,255) inset;
		-moz-box-shadow: 0 0 44px 67px rgb(255,255,255) inset;
}
.cssload-wrap .cssload-cogWheel {
	position: absolute;
	top: 50%;
	margin-top: -44px;
	width: 88px;
	height: 88px;
}
.cssload-wrap .cssload-cogWheel.cssload-one {
	left: -11.25px;
	animation: cssload-rotLeft 1.15s infinite linear;
		-o-animation: cssload-rotLeft 1.15s infinite linear;
		-ms-animation: cssload-rotLeft 1.15s infinite linear;
		-webkit-animation: cssload-rotLeft 1.15s infinite linear;
		-moz-animation: cssload-rotLeft 1.15s infinite linear;
}
.cssload-wrap .cssload-cogWheel.cssload-one .cssload-one:before {
	border: none;
}
.cssload-wrap .cssload-cogWheel.cssload-two {
	right: -11.25px;
	margin-top: -42px;
	transform: rotate(196deg);
		-o-transform: rotate(196deg);
		-ms-transform: rotate(196deg);
		-webkit-transform: rotate(196deg);
		-moz-transform: rotate(196deg);
	animation: cssload-rotRight 1.15s infinite linear;
		-o-animation: cssload-rotRight 1.15s infinite linear;
		-ms-animation: cssload-rotRight 1.15s infinite linear;
		-webkit-animation: cssload-rotRight 1.15s infinite linear;
		-moz-animation: cssload-rotRight 1.15s infinite linear;
}
.cssload-wrap .cssload-cogWheel.cssload-two .cssload-one:before {
	border: none;
}
.cssload-wrap .cssload-cogWheel .cssload-cog {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
}
.cssload-wrap .cssload-cogWheel .cssload-cog:after {
	display: block;
	position: absolute;
	content: ' ';
	border: 4px solid rgb(0,0,0);
	border-left: none;
	height: 16px;
	width: 9px;
	right: -16px;
	top: -7px;
}
.cssload-wrap .cssload-cogWheel .cssload-cog:before {
	display: block;
	position: absolute;
	content: ' ';
	border-left: 4px solid rgb(0,0,0);
	height: 18px;
	width: 7px;
	right: -11px;
	top: -23px;
	transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
}
.cssload-wrap .cssload-cogWheel .cssload-cog.cssload-one {
	transform: rotate(-80deg);
		-o-transform: rotate(-80deg);
		-ms-transform: rotate(-80deg);
		-webkit-transform: rotate(-80deg);
		-moz-transform: rotate(-80deg);
}
.cssload-wrap .cssload-cogWheel .cssload-cog.cssload-two {
	transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
}
.cssload-wrap .cssload-cogWheel .cssload-cog.cssload-three {
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.cssload-wrap .cssload-cogWheel .cssload-cog.cssload-four {
	transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
}
.cssload-wrap .cssload-cogWheel .cssload-cog.cssload-five {
	transform: rotate(80deg);
		-o-transform: rotate(80deg);
		-ms-transform: rotate(80deg);
		-webkit-transform: rotate(80deg);
		-moz-transform: rotate(80deg);
}





@keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-o-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-ms-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-webkit-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-moz-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-o-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-ms-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-webkit-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-moz-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}